---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Welcome to Astro.">
	<div class="my-custom-class">
		HOLA inicio
	</div>
	<span class="font-myfont italic">Hola mundo con mi fuente elegida</span>
	<Icon name="mdi:elephant" size="100" class="text-blue-600"/>
</Layout>
<style>
	.my-custom-class{
		@apply bg-red-600 text-white text-2xl
	}
</style>